#__msg-fb-comp {
  position: relative;

  .__wrapper {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    list-style: none;
    padding: 0;
    z-index: 1;
    .__items {
      position: relative;
      z-index: 1;
      display: flex;
      cursor: pointer;
      flex-wrap: nowrap;
      flex-direction:row;
      top: 0;
      .__item {
     
        position: relative;
        // align-items: center;
        // flex-direction: column;
        width: 100%;

      }
 
    }
  }
}
